* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    color: #0f0f0f;
    font-size: 14px;
}

.img-thumb {
    width: 100%;
}

.img-canal {
    width: 36px;
}

.caixa-textos {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.caixa-titulo {
    color: inherit;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.caixa-texto {
    color: #606060;
}

.caixa-texto a{
    color: inherit;
    text-decoration: none;
    display: block;
}

.img-thumb {
    border-radius: 12.5px;
    margin-bottom: 10px;
}

.img-canal {
    border-radius: 50%;
}

.caixa-infos {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.caixa-videos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 50px;
}

.caixa-video {
    width: 32%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.categorias {
    display: flex;
    gap: 8px;
    margin-top: 15px;
}

.categoria {
    font-size: inherit;
    font-family: inherit;
    border-radius: 8px;
    padding: 7px 12px;
    border: none;
    background-color: #0000000d;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.categoria:hover,
.icone-microfone:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.categoria.selecionado {
    background-color: #0f0f0f;
    color: white;
    font-weight: 600;
}

.principal {
    display: flex;
    gap: 30px;
}

.menu-lateral {
    min-width: 240px;
    width: 240px;
}

.menu-bloco, 
.menu-login {
    border-bottom: 1px solid rgba(0, 0, 0, 0.108);
    padding: 15px;
}

.menu-bloco:last-child {
    border-bottom: none;
}

.bloco-item {
    display: flex;
    border-radius: 12px;
    padding: 7.5px 15px;
    gap: 20px;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.bloco-item:hover, 
.bloco-item.selecionado{
    background-color: #0000000d;
}

.bloco-item.selecionado {
    font-weight: 600;
}

.bloco-item.selecionado:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.bloco-titulo {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    padding: 3px 0;
}

.menu-login {
    padding: 16px 32px;
}

.login-texto {
    margin-bottom: 15px;
}

.login-bloco {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 6px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.108);
    padding: 6px 12px;
    color: #065fd4;
    fill: #065fd4;
    width: max-content;
    transition: all 0.2s ease;
}

.login-bloco:hover {
    background-color: #def1ff;
    border-color: #def1ff;
}

.bloco-texto {
    color: inherit;
    font-weight: 500;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 7.5px 15px;
}

.caixa-logo,
.caixa-pesquisa,
.caixa-login {
    display: flex;
    gap: 14px;
    align-items: center;
}

.icone-logo {
    height: 20px;
}

.icone-menu {
    height: 40px;
    width: 40px;
    padding: 8px;
    transition: background-color 0.2s ease;
}

.icone-menu:hover {
    height: 40px;
    width: 40px;
    padding: 8px;
    background-color:  #0000000d;
}

.input-pesquisa {
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 40px;
    font-size: 16px;
    padding: 0 20px;
    width: 640px;
}

.icone-menu, 
.icone-microfone {
    cursor: pointer;
}

.icone-microfone {
    width: 40px;
    height: 40px;
    padding: 7.5px;
    background-color:  #0000000d;
    border-radius: 50%;    
    transition: background-color 0.2s ease;
}

.caixa-pesquisa {
    margin-left: 32px;
}

.caixa-logo {
    margin-left: 7px;
}

.youtube-icone {
    width: 24px;
    height: 24px;
}

.google-termos {
    font-size: 12px;
    color: #717171;
    margin-top: 5px;
}

.google-texto {
    text-decoration: none;
    margin-right: 2px;
    color: inherit;
}

.termos-dois {
    margin-top: 5px;
}